body {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 20px 0 0 0;
  width: 680px;
  margin: 20px auto;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}
